In [6]:
%load_ext autoreload

In [7]:
%autoreload 2

In [8]:
cd ..

C:\Users\Sommer Lab\Documents\Analysis Code

In [9]:
import sys
# sys.path.append(r'C:\Users\Sommer Lab\Documents\Analysis Code')
import os
from scipy.optimize import curve_fit
from scipy.ndimage import rotate
from scipy.integrate import simpson

from ImageAnalysis import ImageAnalysisCode
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [1]:
filterlist1 =  ['wait==30', 'IterationNum>1', 'ODT Position==3400']

In [3]:
[''.join(ii.split()) for ii in filterlist1]

['wait==30', 'IterationNum>1']

In [82]:
" ".join("  hello  apple  ".split())

'hello apple'

In [88]:
"  hell apple  ".split()

['hell', 'apple']

In [ ]:
def DataFilter(df, *filterLists):
    
    masks = []
    for flts in filterLists:
        masklist = []
        for flt in flts:
            masklist.append(eval( 'df.' + flt.replace(' ', '_') ))   
           
        if len(masklist) > 1:
            for mask in masklist[1:]:
                masklist[0] |= mask
        masks.append(masklist[0])
        
    if len(masks) > 1:
        for mask in masks[1:]:
            mask[0] &= mask
    return df[ mask[0] ]

In [ ]:
def DataFilter(df, filterByAnd=[], filterByOr=[], filterByOr2=[]):
    if filterByAnd:
        for flt in filterByAnd:
            df = df[ eval('df.' + flt.replace(' ', '_')) ]
            
    if filterByOr:
        df = FilterByOr(df, [filterByOr, filterByOr2])
        
    return df


def FilterByOr(df, filterLists):
    
    masks = []
    for flts in filterLists:
        masklist = []
        for flt in flts:
            masklist.append(eval( 'df.' + flt.replace(' ', '_') ))   
           
        if len(masklist) > 1:
            for mask in masklist[1:]:
                masklist[0] |= mask
        masks.append(masklist[0])
        
    if len(masks) > 1:
        for mask in masks[1:]:
            mask[0] &= mask
    return df[ mask[0] ]

In [10]:
array = np.arange(30).reshape(6,5)
array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [11]:
df = pd.DataFrame(array, columns = ['A', 'B', 'C', 'D', 'E'], index = ['a', 'b','c','d','e','f']).rename_axis('ind')
df

      A   B   C   D   E
ind
a     0   1   2   3   4
b     5   6   7   8   9
c    10  11  12  13  14
d    15  16  17  18  19
e    20  21  22  23  24
f    25  26  27  28  29

In [12]:
l1 = df.A < 15
l2 = df.B>10
l3 = df.B<20

In [13]:
l1

ind
a     True
b     True
c     True
d    False
e    False
f    False
Name: A, dtype: bool

In [14]:
l2

ind
a    False
b    False
c     True
d     True
e     True
f     True
Name: B, dtype: bool

In [15]:
l3

ind
a     True
b     True
c     True
d     True
e    False
f    False
Name: B, dtype: bool

In [17]:
l1 & l2

ind
a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [18]:
type(l1)

pandas.core.series.Series

In [19]:
type(df.A)

pandas.core.series.Series